.home-container {
  position: relative;
  height: 70vh;
  background-image: url("../assets/banneryeni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order-button {
  position: absolute;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  bottom: 80px;
  left: 60px;
  cursor: pointer;
}

@media only screen and (max-width: 575.98px) {
  .home-container {
    height: 80vh;
  }

  .order-button {
    position: absolute;
    padding: 5px;
    bottom: 60px;
    left: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home-container {
    height: 80vh;
  }

  .order-button {
    position: absolute;
    padding: 5px;
    bottom: 50px;
    left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-container {
    height: 80vh;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home-container {
    height: 80vh;
  }

  .order-button {
    position: absolute;
    padding: 15px;
    bottom: 90px;
    left: 30px;
  }
}
